# **파이썬 머신러닝 완벽 가이드** (ch.1, p.1~38)

# **<개념 정리>**

**Numpy**

: Numerical Phython을 의미하며, 파이썬에서 선형대수 기반 프로그램을 만들 수 있도록 지원함.

In [2]:
import numpy as np

**[넘파이 개요]**

넘파이 기반 데이터 타입: ndarray

*   다차원 배열 생성 및 연산 가능
*   np.array(): 리스트와 같은 다양한 인자를 입력받아서 ndarray로 변환

  - ndarray.shape: 행과 열의 수(튜플 형태)

  - ndarray.ndim: 각 array의 차원을 확인

**[ndarray의 데이터 타입]**

데이터값: 숫자, 문자열 등 모두 가능

데이터 타입: 한 개의 ndarray 객체내에는 같은 데이터 타입만 가능

- dtype 속성으로 확인 가능
- 데이터 유형이 섞여있는 리스트를 ndarray로 변경하는 경우: 데이터 크기가 더 큰 데이터 타입으로 형 변환 일괄 적용

**[arange,zeros,ones]**

1) arange(): 0부터 함수 인자 값 -1까지의 값을 순차적으로 ndarray의 데이터 값으로 변환
- 파이썬의 range()와 유사

2) zeros(): 함수 인자로 튜플 형태의 shpae 값을 입력하면 모든 값을 0으로 채운 해당 shape을 가진 ndarray를 반환

3) ones(): zeros() 와 유사, 모든 값을 1로 채움

**[reshape]**

ndrray를 특정 차원 및 크기로 변환
- 지정된 사이즈로 변경이 불가하면 오류 발생
- reshape(-1,1): 원본 ndarray 가 어떤 형태라도 2차원, 여러개의 row를 가지도 반드시 1개의 col을 가진 ndarray로 변환
  - 여러개의 ndarray를 stack, concat로 결합할 할때 ndarray의 형태를 통일하는데 유용

**[indexing]**

ndarray 내의 일부 데이터 세트나 특정 데이터만 선택
-  단일 값 추출: ndarray 객체에 해당하는위치의 인덱스 값을 [ ]안에 입력
  - 인덱스는 0부터 시작, -1은 맨 뒤의 데이터값을 의미
  - axis 0: row 방향 축
  - axis 1: col 방향 축
- 슬라이싱: ':' 기호 이용해 연속한 데이터를 슬라이싱해서 추출
  - ':' 사이의 시작, 종료 인덱스는 생략(맨 처음/맨 마지막 인덱스로 간주)
- 팬시 인덱싱: 리스트나 ndarray로 인덱스 집합을 지정하면 해당 위치의 인덱스에 해당하는 ndarray를 반환하는 인덱싱 방식
- 불린 인덱싱: 조건 필터링과 검색 동시에 가능
  - ndarray의 인덱스를 지정하는 [ ] 내에 조건문을 그대로 기재

**[행렬의 정렬-sort()와 argsort()]**

- np.sort(): 원 행렬 그대로 유지, 원 행렬의 정렬된 행렬을 반환
- ndarray.sort(): 원 행렬 자체를 정렬,한 형태로 변환, 반환 값은 None
- argsort(): 기존 원본 행렬의 원소에 대한인덱스를 필요로 할 때 사용,
정렬 행렬의 원본 행렬 인덱스를 ndarray 형으로 반환

**[선형대수 연산]**
- 행렬 내적(행렬 곱): np.dot()
- 전치 행렬: 원 행렬에서 행과 열 위치를 교환한 원소로 구성한 행렬
 - transpose() 이용

# **<코드 필사>**

In [3]:
array1=np.array([1,2,3])
print('array1 type:',type(array1))
print('array1 array 형태:',array1.shape)

array2=np.array([[1,2,3],
                [2,3,4]])
print('array2 type:',type(array2))
print('array2 array 형태:',array2.shape)

array3=np.array([[1,2,3]])
print('array3 type:',type(array3))
print('array3 array 형태:',array3.shape)

array1 type: <class 'numpy.ndarray'>
array1 array 형태: (3,)
array2 type: <class 'numpy.ndarray'>
array2 array 형태: (2, 3)
array3 type: <class 'numpy.ndarray'>
array3 array 형태: (1, 3)

In [4]:
print('array1:{:0}차원,array2:{:1}차원, array3:{:2}차원'. format(array1.ndim,array2.ndim, array3.ndim))

array1:1차원,array2:2차원, array3: 2차원

In [5]:
list1=[1,2,3]
print(type(list1))
array1=np.array(list1)
print(type(array1))
print(array1,array1.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

In [6]:
list2=[1,2,'test']
array2=np.array(list2)
print(array2,array2.dtype)

list3=[1,2,3.0]
array3=np.array(list3)
print(array3,array3.dtype)

['1' '2' 'test'] <U21
[1. 2. 3.] float64

In [7]:
array_int=np.array([1,2,3])
array_float=array_int.astype('float64')
print(array_float,array_float.dtype)

array_int1=array_float.astype('int32')
print(array_int1,array_int1.dtype)

array_float1=np.array([1.1,2.1,3.1])
array_int2=array_float1.astype('int32')
print(array_int2,array_int2.dtype)

[1. 2. 3.] float64
[1 2 3] int32
[1 2 3] int32

In [8]:
sequence_array=np.arange(10)
print(sequence_array)
print(sequence_array.dtype, sequence_array.shape)

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)

In [10]:
zero_array=np.zeros((3,2), dtype='int32')
print(zero_array)
print(zero_array.dtype, zero_array.shape)

one_array=np.ones((3,2))
print(one_array)
print(one_array.dtype, one_array.shape)

[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)
[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

In [12]:
array1=np.arange(10)
print('array1:\n',array1) # \n 은 줄바꿈

array2=array1.reshape(2,5)
print('array2:\n',array2)


array3=array1.reshape(5,2)
print('array3:\n',array3)

array1:
 [0 1 2 3 4 5 6 7 8 9]
array2:
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array3:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [13]:
array1.reshape(4,3)

ValueError: cannot reshape array of size 10 into shape (4,3)

In [16]:
array1=np.arange(10)
print(array1)
array2=array1.reshape(-1,5)
print('array2.shape:',array2.shape)
array3=array1.reshape(5,-1)
print('array3.shape:',array3.shape)

[0 1 2 3 4 5 6 7 8 9]
array2.shape: (2, 5)
array3.shape: (5, 2)

In [19]:
array1=np.arange(10)
array2=array1.reshape(-1,4)

ValueError: cannot reshape array of size 10 into shape (4)

In [21]:
array1=np.arange(8) #1차원
array3d=array1.reshape((2,2,2)) #3차
print('array3d:\n', array3d.tolist())

# 3차원 ndarray를 2차원 ndarray로 변환
array5=array3d.reshape(-1,1)
print('array5:\n' ,array5.tolist())
print('array4:\n', array5.shape)

# 1차원 ndarray를 2차원 ndarray로 변환
array6=array1.reshape(-1,1)
print('array6:\n' ,array6.tolist())
print('array6:\n', array6.shape)

array3d:
 [[[0, 1], [2, 3]], [[4, 5], [6, 7]]]
array5:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array4:
 (8, 1)
array6:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array6:
 (8, 1)

In [22]:
# 단일 값 추출
# 1부터 9까지 1차원 ndarray 생성
array1=np.arange(start=1, stop=10)
print('array1:', array1)

#indenx는 0부터 시작하므로 array1[2]sms 3번째 index 위치의 데이터값을 의미
value=array1[2]
print('value:', value)
print(type(value))

array1: [1 2 3 4 5 6 7 8 9]
value: 3
<class 'numpy.int64'>

In [24]:
print('맨 뒤의 값:', array1[-1], ' 맨 뒤에서 두 번째 값:', array1[-2])

맨 뒤의 값: 9  맨 뒤에서 두 번째 값: 8

In [25]:
array1[0]=9
array1[8]=0
print('array1:',array1)

array1: [9 2 3 4 5 6 7 8 0]

In [26]:
array1d=np.arange(start=1, stop=10)
array2d=array1d.reshape(3,3)
print(array2d)

print('(row=0, col=0) index 가리키는 값:', array2d[0,0])
print('(row=0, col=1) index 가리키는 값:', array2d[0,1])
print('(row=1, col=0) index 가리키는 값:', array2d[1,0])
print('(row=2, col=2) index 가리키는 값:', array2d[2,2])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(row=0, col=0) index 가리키는 값: 1
(row=0, col=1) index 가리키는 값: 2
(row=1, col=0) index 가리키는 값: 4
(row=2, col=2) index 가리키는 값: 9

In [27]:
# 슬라이싱
array1=np.arange(start=1, stop=10)
array3=array1[0:3]
print(array3)
print(type(array3))

[1 2 3]
<class 'numpy.ndarray'>

In [28]:
array1=np.arange(start=1, stop=10)
array4=array1[:3]
print(array4)

array5=array1[3:]
print(array5)

array6=array1[:]
print(array6)

[1 2 3]
[4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

In [29]:
array1d=np.arange(start=1, stop=10)
array2d=array1d.reshape(3,3)
print('array2d:\n', array2d)

print('array2d[0:2,0:2]:\n', array2d[0:2,0:2])
print('array2d[1:3,0:3]:\n', array2d[1:3,0:3])
print('array2d[1:3,:]:\n', array2d[1:3,:])
print('array2d[:,:]:\n', array2d[:,:])
print('array2d[:2,1:]:\n', array2d[:2,1:])
print('array2d[:2,0]:\n', array2d[:2,0])

array2d:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[0:2,0:2]:
 [[1 2]
 [4 5]]
array2d[1:3,0:3]:
 [[4 5 6]
 [7 8 9]]
array2d[1:3,:]:
 [[4 5 6]
 [7 8 9]]
array2d[:,:]:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[:2,1:]:
 [[2 3]
 [5 6]]
array2d[:2,0]:
 [1 4]

In [30]:
print(array2d[0])
print(array2d[1])
print('array2d[0] shape:', array2d[0].shape, 'array2d[1] shape:', array2d[1].shape)

[1 2 3]
[4 5 6]
array2d[0] shape: (3,) array2d[1] shape: (3,)

In [33]:
array1d=np.arange(start=1,stop=10)
array2d=array1d.reshape(3,3)

array3=array2d[[0,1],2]
print('array2d[[0,1],2] =>', array3.tolist())

array4=array2d[[0,1],0:2]
print('array2d[[0,1],0:2] =>', array4.tolist())

array5=array2d[[0,1]]
print('array2d[[0,1]] =>', array5.tolist())

array2d[[0,1],2] => [3, 6]
array2d[[0,1],0:2] => [[1, 2], [4, 5]]
array2d[[0,1]] => [[1, 2, 3], [4, 5, 6]]

In [34]:
array1d=np.arange(start=1, stop=10)
# [ ]안에 array1d > 5 Boolean indexing을 적용
array3=array1d[array1d > 5]
print('array1d > 5 불린 인덱싱 결과 값 :', array3)

array1d > 5 불린 인덱싱 결과 값 : [6 7 8 9]

In [35]:
array1d>5

array([False, False, False, False, False,  True,  True,  True,  True])

In [36]:
boolean_indexes=np.array([False, False, False, False, False,  True,  True,  True,  True])
array3=array1d[boolean_indexes]
print('불린 인덱스로 필터링 결과 :', array3)

불린 인덱스로 필터링 결과 : [6 7 8 9]

In [37]:
indexes=np.array([5,6,7,8])
array4=array1d[indexes]
print('일반 인덱스로 필터링 결과 :',array4)

일반 인덱스로 필터링 결과 : [6 7 8 9]

In [42]:
# 행렬 정렬
org_array=np.array([3,1,9,5])
print('원본 행렬:', org_array)

# np.sort()로 정렬
sort_array1=np.sort(org_array)
print('np.sort() 호출 후 반환된 행렬 정렬:', sort_array1)
print('np.sort() 호출 후 원본 행렬:', org_array)

# ndarray.sort() 로 정렬
sort_array2= org_array.sort()
print('org_array.sort() 호출 후 반환된 행렬 정렬:', sort_array2)
print('org_array.sort() 호출 후 원본 행렬:', org_array)

원본 행렬: [3 1 9 5]
np.sort() 호출 후 반환된 행렬 정렬: [1 3 5 9]
np.sort() 호출 후 원본 행렬: [3 1 9 5]
org_array.sort() 호출 후 반환된 행렬 정렬: None
org_array.sort() 호출 후 원본 행렬: [1 3 5 9]

In [43]:
sort_array1_desc=np.sort(org_array)[::-1]
print('내림차순으로 정렬:', sort_array1_desc)

내림차순으로 정렬: [9 5 3 1]

In [45]:
array2d=np.array([[8,12],
                  [7,1]])
sort_array2d_axis0= np.sort(array2d,axis=0)
print('로우 방향으로 정렬:\n', sort_array2d_axis0)
sort_array2d_axis1= np.sort(array2d,axis=1)
print('칼럼 방향으로 정렬:\n', sort_array2d_axis1)

로우 방향으로 정렬:
 [[ 7  1]
 [ 8 12]]
칼럼 방향으로 정렬:
 [[ 8 12]
 [ 1  7]]

In [47]:
org_array=np.array([3,1,9,5])
sort_indices=np.argsort(org_array)
print(type(sort_indices))
print('행렬 정렬 시 원본 행렬의 인덱스:', sort_indices)

<class 'numpy.ndarray'>
행렬 정렬 시 원본 행렬의 인덱스: [1 0 3 2]

In [48]:
org_array=np.array([3,1,9,5])
sort_indices_desc=np.argsort(org_array)[::-1]
print('행렬 내림차순 정렬 시 원본 행렬의 인덱스:', sort_indices_desc)

행렬 내림차순 정렬 시 원본 행렬의 인덱스: [2 3 0 1]

In [49]:
import numpy as np

name_array=np.array(['John','Mike','Sarah','Kate','Samuel'])
score_array=np.array([78,95,84,98,88])

sort_indices_asc=np.argsort(score_array)
print('성적 오름차순 정렬 시 score_array의 인덱스:', sort_indices_asc)
print('성적 오름차순으로 name_array의 이름 출력:', name_array[sort_indices_asc])

성적 오름차순 정렬 시 score_array의 인덱스: [0 2 4 1 3]
성적 오름차순으로 name_array의 이름 출력: ['John' 'Sarah' 'Samuel' 'Mike' 'Kate']

In [50]:
# 선형 대수 연산
A=np.array([[1,2,3],
            [4,5,6]])
B=np.array([[7,8],
            [9,10],
            [11,12]])
dot_product=np.dot(A,B)
print('행렬 내적 결과:\n', dot_product)

행렬 내적 결과:
 [[ 58  64]
 [139 154]]

In [51]:
A=np.array([[1,2],
            [3,4]])
transpose_mat=np.transpose(A)
print('A의 전치 행렬:\n', transpose_mat)

A의 전치 행렬:
 [[1 3]
 [2 4]]